*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: azure;
}
.navbar{
    height: 50px;
    background-color: black;
}
.main{
    margin: 40px 60px;
    height: 500px;
    background-color: aqua;
    display: flex;
}
.col-1{
    flex: 1.7;
    border: 5px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.col-2{
    flex: 1;
    border: 5px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.card{
    flex: 2;
    border: 5px solid;
}
.education{
    flex: 1;
    margin-top: 10px; 
    margin-left: 30px;  
    margin-right: 5px;
}
.edu-header, .yourC-header{
    background-color: rgb(54, 54, 58);
    color: white;
    display: flex;
    align-items: center;
    font-size:small;
    padding: 10px 20px;
    border-style: solid;
    border-color: grey;
}
.edu-main{
    padding: 20px; 
    border-style: solid;
    border-color: grey;
    border-top: transparent;
}

.edu-main-h{
    margin-bottom: 10px;
}
.edu-main-p1{
    margin-bottom: 15px;
}
.connection-request{
    border: 5px solid;
    flex: 1;
}
.your-conections{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    margin-right: 30px; 
    margin-left: 5px;  
}

.connection-list{
    text-decoration: none;
    list-style: none; 
    display: flex;
    align-items: center;    
}
.connection-list-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;    
    font-size: large;
    font-weight: bold;
}

.yourC-header{
    flex: 1;    
    border-style: solid;
    border-color: grey;

}
.yourC-main{
    flex: 4;   
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    border-style: solid;
    border-color: gray;
    border-top: transparent;
    border-bottom: transparent;

}
.yourC-footer{
    flex: 1;
    padding-inline: 20px;
    font-size: large;
    font-weight: bold;
    border-style: solid;
    border-color: grey;
    display: flex;
    align-items: center;
}
.yourC-icons{
    height: 30px;
    width: auto;
    padding-right: 10px;
}