*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* box-sizing: border-box; */
}
body{
    background-color: azure;
}
.navbar{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.main{
    width: 700px;
    margin: 40px auto;
    height: 500px;
    display: flex;
}
.col-1{
    flex: 1.7;
    display: flex;
    flex-direction: column;
}
.col-2{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.education{
    flex: 1;
    border: 5px solid gray;
}
.education > .content {
    margin: 5px;
}
.connection-request{
    border: 5px solid gray;
    flex: 1;
}
.your-conection{
    border: 5px solid gray;
    flex: 1.5;
}
.profile > ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.profile > ul > li {
    margin: 10px;
}
.title{
    font-size: 1.5rem;
}
.button{
    background-color: #26a5bb;
    border:1px solid black;
    height: 25px;
    width: 80px;
}
.button > a{
    text-decoration: none;
    color: white;
    padding: 6px;

}
.card, .education, .connection-request, .your-conection{
    margin: 20px 10px;
}
.connection-request{
    background-color: azure;
}
.top-nav{
    height: 40px;
    background-color: #333333;
    display: flex;
    align-items: center;
    padding: 6px;
}
.number-2{
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
}
.top-title{
    color: white;
    margin-left:15px;
}
.icons-small > img{
    border-radius: 50%;
    width: 25px;
}
.content-1{
    display: flex;
    justify-content: space-between;
}
.border-image{
    border:1px solid black;
}
.number-500{
    width: 70px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;

}
.view-more{
    border: 1px solid gray;
}
.view-more > a{
    color: blue;
    text-decoration: underline;
}
.card{
    flex: 2;
    border: 5px solid gray;
    position: relative;
}
.content-top-side{
    height: 70px;
    background-color: #17a2b8;
}
.icon-card{
    position: absolute;
    top:35px;
    left:35px;
}
.content-botton-side{

    background-color: azure;
    padding: 5px;
    font-weight: bold;
}
.content-botton-side > .title {
    font-size:x-large;
    margin-top: 60px;
}
.content-botton-side > a {
    display: block;
    margin:20px
}
.map {
    margin:10px 10px;
}
.map > img{
    display: inline;
    margin-right: 10px;
}
.map > p {
    display: inline;
}
.first-letter{
    font-size: 1.3rem;
}
.second-letter{
    color: gray;
}
.third-letter{
    font-size: 1.1rem;
}
.content-conections{
    
}
.view-more{
    margin: 0;
    border: 5px solid gray;
}
